
/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}
/*--------------------*/
/* HEADER */
/*--------------------*/
#logo-landing img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding:60px 0;  
}

#text-landing{
	text-align: center;
}

#text-landing h1{
	font-size: 46px;
	font-weight: 700;
	color:#333;
	padding:40px 0 0 0;
}
#text-landing h2{
	font-size: 30px;
	font-weight: 400;
	color:#333;
	margin: 0;
}
#text-landing p{
	font-size: 22px;
	font-weight: 400;
	color:#333;
	margin:0;
	padding-bottom: 75px;
}

.event-date-line {
	background-color: #ff0;
	color: #333;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
}

.event-counter-area {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

#event-counter{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}

.event-counter-block {
	border: 4px solid #ea2f2c;
	border-radius: 10%;
	display: inline-block;
	height: 120px;
	width: 120px;
	text-align: center;
	font-size: 18px;
	color: #333;
	margin: 0 20px;
	font-weight: 500;
}

.event-counter-block span {
	display: block;
	font-size: 40px;
	font-weight: 700;
	padding-top: 30px;
	line-height: 40px;
}

#contentinfo{
	border-top:1px solid #ea2f2c;
    position: relative;
  	position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 80px;
	  background-color: #fff;

}
#text-copyright{

}

#text-copyright p{
	font-color:#333;
	text-align: center;
	font-size: 14px;
	margin-top:30px;
	
}

#contentinfo img{
	margin-top: 13px;
}

#logo-bte img{
	float:left;
	width: 100%;
    height: auto;
    max-width: 147px;
    display: block;

}
#logo-syncbridge img{
	float:right;
    width: 100%;
    height: auto;
    display: block;
    max-width: 105px;
}



/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#contentinfo{
		height:auto;
	}
 #logo-bte img,#logo-syncbridge img{
	 float:none;
	 margin:10px auto;
 }
 #text-copyright p{
	 margin-top:10px;
 }
  
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {

	#logo-landing img{
		padding:20px 0;
	}
	#text-landing h1{
		font-size:32px;
	}
	#text-landing h2{
		font-size:24px;
	}
	#text-landing p{
		font-size:18px;
		padding-bottom:10px;
	}
	#contentinfo{
		height:auto;
	}
		#logo-bte img,#logo-syncbridge img{
		float:none;
		margin:10px auto;
	}
	#text-copyright p{
		margin-top:0;
		font-size:10px;
	}
	.event-counter-block {
		border: 4px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 60px;
		width: 60px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {

	#logo-landing img{
		padding:20px 0;
	}
	#text-landing h1{
		font-size:32px;
		padding:0;
	}
	#text-landing h2{
		font-size:24px;
	}
	#text-landing p{
		font-size:18px;
		padding-bottom:10px;
	}
	#contentinfo{
		height:auto;
	}
		#logo-bte img,#logo-syncbridge img{
		float:none;
		margin:10px auto;
	}
	#text-copyright p{
		margin-top:22px;
	}
	.event-counter-area{
		margin-top:0;
	}
	.event-counter-block {
		border: 4px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 60px;
		width: 60px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}
}


@media (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
	
}
	

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) { 
	
	#logo-landing img{
		    padding: 10px 0;
	}
	#text-landing h1{
		font-size: 30px;
		padding: 10px 0 0 0;
	}
	#text-landing h2{
		font-size: 24px;
		padding: 0;
	}
	#text-landing p{
		font-size: 18px;
		padding: 0;
	}
	
	.event-counter-area{
		margin-top: 10px;
	}
	.event-counter-block {
		border: 2px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 50px;
		width: 50px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}

	#contentinfo{
		height:auto;
		
	}
	#text-copyright p{
		margin-top: 25px;
		font-size: 12px;
	}
}



