
/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,
html {
	overflow-x:hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: #1c1b1b;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 0;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}
/*--------------------*/
/* HEADER */
/*--------------------*/
header{
	border-bottom:1px solid #333;
	padding:25px 0;
}
#logo img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;  
}

#title h1{
	font-size:35px;
	font-weight:  400;
	text-align:center;
	color:#333;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;  

}
.user{
	padding-top:10px;
}
.user img{
	display: block;
	width:54px;
	height:auto;
	float:left;
	opacity: .7;
	margin-right: 10px;
}
.user h3{
	font-weight: normal;
	font-size:14px; 
	line-height: 4;

}
.content img{
	opacity: .7;
	width:130px;
	height: auto;
	margin-top: 10px;
}
.content h2{
	font-weight: 500;
	font-size: 30px;
	color:#333;
	margin-top:20px;
}

#profile{
	color:#02adec;
	font-size:14px;
	text-decoration:underline;
	margin-top: 20px;
	margin-bottom: 50px;
	cursor:pointer;
}

.details h2{
	font-weight: 500;
	font-size: 24px;
}
.details h3,.details p{
	font-weight: 500;
	font-size: 14px;
	margin:0;
}
.details h3{
	margin-bottom: 5px;
}

#vote{
	float:left;
	background:#ea2f2c;
	color:#fff;
	padding:10px 10px 10px 30px;
	font-weight: 500;
	margin-right:10px;
}
#confirm-vote.disabled{
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}
#confirm-vote{
	float:right;
	background:#ea2f2c;
	color:#fff;
	padding:10px 10px 10px 20px;
	font-weight: 500;
	margin-right:10px;
	margin-bottom: 50px;
}
#confirm-vote i{
	margin-left:10px;
}
.vote{
	float:left;
	background:#ea2f2c;
	color:#fff;
	padding:10px 10px 10px 30px;
	font-weight: 500;
	margin-right:10px;
}
.vote-disabel{
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}
.undo{
	float:left;
	background:#bcbbbb;
	color:#fff;
	padding:10px 10px 10px 30px;
	font-weight: 500;
	margin-right:10px;
}
.vote i{
	font-size:20px;
	padding:0 20px;
}
.undo i{
	font-size:20px;
	padding:0 20px;
}
#profile-modal ,table{
	color:#333;
}
#profile-modal img{
	width:165px;
	height:auto;
	display: block;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right:10px;
}

#profile-modal h2{
	font-weight: 500;
	font-size:21px;
	margin:3px;
}

#profile-modal h3{
	font-weight: 500;
	font-size:14px;
	margin:3px;

}
#profile-modal .modal-header{
	border-bottom:0;
}

#profile-modal .modal-body .container-fluid{
	border-top:1px solid #ea2f2c;
	padding-top:20px;
}

#profile-modal p{
	font-weight: 500;
	font-size:12px;
	margin:3px;
}

#profile-modal p span{
	font-weight: 600;
}

#profile-modal .profile-img img{
	opacity: .7;
	width:100px;
	height:auto;
}

.profile-details h2{
	font-size:21px;
	font-weight: 500;
}

.sec-title{
	padding:20px 0;
}

#contentinfo{
	border-top:1px solid #ea2f2c;
    position: relative;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;

}

#text-copyright p{
	font-color:#333;
	text-align: center;
	font-size: 14px;
	margin-top:30px;
}

#contentinfo img{
	margin-top: 13px;
}

#logo-bte img{
	float:left;
	width: 100%;
    height: auto;
    max-width: 147px;
    display: block;

}
#logo-syncbridge img{
	float:right;
    width: 100%;
    height: auto;
    display: block;
    max-width: 105px;
}

/* -------------------*/
/* VOTE CONFIRMATION */
/*--------------------*/
#vote-confirmation-popup .modal-header{
	height:65px;
	background:#ea2f2c;
	color:#fff;
}
#vote-confirmation-popup #vote-confirmation-title{
	float: left;
	font-size:24px;
}
#vote-confirmation-popup i{
	float:right;
	font-size:24px;
}
#vote-confirmation-popup .modal-body h2{
	font-size: 30px;
	font-weight: 500;
	text-align: center;
}
#vote-confirmation-popup .modal-body h3{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
#vote-confirmation-popup .modal-body p{
	font-size: 16px;
	margin:0;
	font-weight: 400;
	text-align: center;
}
#vote-confirmation-popup #vote-cancle{
	float:left;
	background:#bcbbbb;
	color:#fff;
	padding:10px 20px;
	font-weight: 500;
	margin-left:40px;
}
#vote-confirmation-popup #vote-confirm{
	float:right;
	background:#ea2f2c;
	color:#fff;
	padding:10px 20px;
	font-weight: 500;
	margin-right:40px;
}

/*--------------------*/
/* VOTE SUCCESS */
/*--------------------*/
#vote-success-popup .modal-header{
	height:65px;
	background:#ea2f2c;
	color:#fff;
}
#vote-success-popup #vote-confirmation-title{
	float: left;
	font-size:24px;
}
#vote-success-popup i{
	float:right;
	font-size:24px;
}
#vote-success-popup .modal-body{
	padding:0 25px;
}
#vote-success-popup .modal-body h2{
	font-size: 30px;
	font-weight: 500;
	margin-top:10px;
	text-align: center;
}
#vote-success-popup .modal-body h3{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin:20px 0;
}
#vote-success-popup .modal-body p{
	font-size: 16px;
	margin:20px 0;
	font-weight: 400;
	text-align: center;
}
#vote-success-popup #vote-return{
	float:left;
	background:#ea2f2c;
	color:#fff;
	padding:10px 20px;
	font-weight: 500;
	margin-left:40px;
}
#vote-success-popup #vote-confirm{
	float:right;
	background:#ea2f2c;
	color:#fff;
	padding:10px 20px;
	font-weight: 500;
	margin-right:40px;
}
/*--------------------*/
/* VOTE FAIL */
/*--------------------*/
#vote-fail-popup .modal-header{
	height:65px;
	background:#ea2f2c;
	color:#fff;
}
#vote-fail-popup #vote-fail-title{
	float: left;
	font-size:24px;
}
#vote-fail-popup i{
	float:right;
	font-size:24px;
}
#vote-fail-popup .modal-body{
	padding:0 25px;
}
#vote-fail-popup .modal-body h2{
	font-size: 30px;
	font-weight: 500;
	margin:50px 0;
	text-align: center;
}

#vote-fail-popup #vote-try{
	background:#ea2f2c;
	color:#fff;
	padding:10px 20px;
	font-weight: 500;
	display: block;
	margin:0 auto;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	#contentinfo{
		height:auto;
	}
 #logo-bte img,#logo-syncbridge img{
	 float:none;
	 margin:10px auto;
 }
 #text-copyright p{
	 margin-top:10px;
 }
  
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {

	#logo-landing img{
		padding:20px 0;
	}
	#text-landing h1{
		font-size:32px;
	}
	#text-landing h2{
		font-size:24px;
	}
	#text-landing p{
		font-size:18px;
		padding-bottom:10px;
	}
	#contentinfo{
		height:auto;
	}
		#logo-bte img,#logo-syncbridge img{
		float:none;
		margin:10px auto;
	}
	#text-copyright p{
		margin-top:0;
		font-size:10px;
	}
	.event-counter-block {
		border: 4px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 60px;
		width: 60px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}
}

@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {

	#logo-landing img{
		padding:20px 0;
	}
	#text-landing h1{
		font-size:32px;
		padding:0;
	}
	#text-landing h2{
		font-size:24px;
	}
	#text-landing p{
		font-size:18px;
		padding-bottom:10px;
	}
	#contentinfo{
		height:auto;
	}
		#logo-bte img,#logo-syncbridge img{
		float:none;
		margin:10px auto;
	}
	#text-copyright p{
		margin-top:22px;
	}
	.event-counter-area{
		margin-top:0;
	}
	.event-counter-block {
		border: 4px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 60px;
		width: 60px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}
}

@media (max-width: 1024px){
	#contentinfo{
		height:auto;
	}
}
@media (min-width: 360px) and (max-width: 640px){
	#contentinfo{
		height:auto;
		display: none;
	}
	#title h1{
		line-height: 40px;
	}
	form{
		margin-top: 20px;
	}
}
	

@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) { 
	
	#logo-landing img{
		    padding: 10px 0;
	}
	#text-landing h1{
		font-size: 30px;
		padding: 10px 0 0 0;
	}
	#text-landing h2{
		font-size: 24px;
		padding: 0;
	}
	#text-landing p{
		font-size: 18px;
		padding: 0;
	}
	
	.event-counter-area{
		margin-top: 10px;
	}
	.event-counter-block {
		border: 2px solid #ea2f2c;
		border-radius: 10%;
		display: inline-block;
		height: 50px;
		width: 50px;
		text-align: center;
		font-size: 11px;
		color: #333;
		margin: 10px;
		font-weight: 500;
	}

	.event-counter-block span {
		display: block;
		font-size: 20px;
		font-weight: 700;
		padding-top: 10px;
		line-height: 20px;
	}

	#contentinfo{
		height:auto;
		
	}
	#text-copyright p{
		margin-top: 25px;
		font-size: 12px;
	}
}



